.hidden {
    display: none;
}
.selected {
    text-decoration: underline solid #ecf0f1;
}
body, .top-bar, .top-bar ul, .off-canvas-menu { 
    background: #33cccc;
    color: #2c3e50;
}
.top-bar a, a:hover {
    color: #ecf0f1;
}
.button {
    list-style: none;
    border-radius: 4px;
    background: #2980b9;
}
.top-bar {
    position:relative;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    height: 54px;
    z-index: 2;
}
.top-bar .top-bar-right button {
    display: none;
}
.brand-logo {
    width: 175px; height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/sim-logo.png');
}
.main-content h2, h1 {
    text-align: center;
    color:#ecf0f1;
}
#services, #about-hdr, #contact-hdr {
    background: #2c3e50;
}
#services {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.services-row {
    background: no-repeat center/100% url('../img/services.png');
}
.pricing-table .cta-button {
    display: none;
}
.services-row .pricing-table {
    margin-top: 1rem;
}
.services-row .pricing-table .title {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    list-style: none;
    text-decoration: underline;
}
.sevices-row.pricing-table, .description, .bullet-item {
    font-size: 19px;
    font-weight: bold;
}
.services-row .pricing-table .description {
    margin-top: 2rem;
}
.button-row .button-table .cta-button {
    text-align: center;
    list-style: none;
}
#contact-title, #about-title {
    cursor: pointer;
}
.about-row, .services-row, .mail-row, .about-mail-container {
    background: #ecf0f1;
}
.mail-row {
     background: no-repeat center/100% url('../img/contact-bg.png');
}
.main-content-iframe .mail-container{
     background: transparent !important;
}
.main-content-iframe .mail-row{
     background: none!important;
}
.about-row {
     background: no-repeat center/100% url('../img/about-bg.png');
}
.about-row .intro-text p {
    text-indent: 5%;
}
.intro-text .portrait{
    display: none;
}
.about-row #resume-row {
    text-align: center !important;
}
.portrait {
    border-radius: 3px;
    margin-top: 2%;
}
/* FOOTER START */
footer {
    width: 100%;
    height: 6rem;
}
footer, footer ul {
    background: #2c3e50 !important;
}
footer a {
    color: #ecf0f1 !important;
}
.bottom-bar {
    position:relative;
    top: 29%
}
#about-intro-container {
    margin-top: 4%;
}
/* START mail form design settings (contact.html)*/
#mail-iframe-containter {
    height: 34rem;
}
iframe {
    width: 100%; 
    height: 100%;
    border: 0;
    overflow: hidden;
    position: relative;
    
}
.mail-form {
    margin-top: 6%;
    width: 100%
}
.mail-input {
    border-radius: 3px;
}
textarea.mail-input {
    height: 20rem;
}
.mail-button {
    font-family: "Noto Sans",sans-serif;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px;
    line-height: 2.20rem;
    margin: 0;
    width: 16%;
    cursor: pointer;
    float: right;
}
/* END mail form design settings (contact.html)*/
footer .footer-brand-column {
    position: relative;
    top: 0.5rem;
}
footer .footer-link-column {
    position: relative;
    top: 0.8rem;
}
/* APP ICONS START */
.bg-GitHub_120px {
    width: 48px; height: 48px;
    background: no-repeat center/80% url('../img/icons/GitHub-120px.png');
}
.bg-Google_play_badge {
    width: 646px; height: 250px;
    background: url('../img/icons/Google-play-badge.png');
}
.bg-Instagram_128px {
    width: 48px; height: 48px;
    background: no-repeat center/100% url('../img/icons/Instagram-128px.png');
}
.bg-LinkedIn_128px_R {
    width: 48px; height: 48px;
    background: no-repeat center/78% url('../img/icons/LinkedIn-128px-R.png');
}
.bg-Sketchfab_128px {
    width: 48px; height: 48px;
    background: no-repeat center/80% url('../img/icons/Sketchfab_128px.png');
}
.bg-Twitter_128px {
    width: 48px; height: 48px;
    background: no-repeat center/72% url('../img/icons/Twitter-128px.png');
}
/* APP ICONS END */
/*//---------------------------------------------------------------------------------------//*/
 /* MOBILE SETTINGS START */
@media screen and (max-width: 350px) {
     .off-canvas {
        width: 35%;
        background-color: #33cccc !important;
        background: no-repeat center/100% url('../img/mobile-menu-bg.png');
    }
}
@media screen and (max-width: 500px) {
    .top-bar {
        position: fixed;
        width: 100%;
        z-index: 12;
    }
    .top-bar .top-bar-left, .top-bar .top-bar-right {
        width: 50% !important;
    }
    .top-bar-right .menu {
        display: none;
    }
    .top-bar .top-bar-right button {
        background: #33cccc;
        position: relative;
        bottom: 5px;
        height: 46px;
        display: block;
        float: right;
    }
    .menu-button.button:hover {
        background-color: transparent !important;
    }
    ul.menu li,a { 
      outline: 0;
      box-shadow: none;
    }
    #offCanvas ul {
       margin-top: 4rem;
    }
    .off-canvas {
        width: 35%;
        background-color: #33cccc !important;
        background: no-repeat center/100% url('../img/mobile-menu-bg.png');
    }
    .off-canvas li {
      color:#ecf0f1;
    }
    .off-canvas a {
      color:#ecf0f1;
    } 
    .off-canvas a:hover {
      color:#ecf0f1;
    } 
    .off-canvas a:visited {
      color:#ecf0f1;
    }
    .js-off-canvas-overlay {
      background:rgba(0, 0, 0, 0.5) !important;
    }
    .main-content #trove {
        margin-top: 3.2rem
    }
    .pricing-table .cta-button {
        display:block;
        margin-top: 2rem;
        text-align: center;
        list-style: none;
    }
    .button-row .button-table .cta-button {
        display: none;
    }
    .mail-row {
         background: none !important;
    }
    .selected {
        text-decoration:none;
        font-size: 2rem;
    }
    #about-title, #contact-title {
        transition: font-size 0.2s ease-in-out;
    }
    .about-row {
         background: none !important;
    }
    .about-row .intro-text {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 1rem;
    }
    .service-row {
        background: none !important;
    }
    footer .brand-logo {
        display: none !important;
    }
    footer .menu.simple {
        display: none;
    }
    footer #social-media-icons {
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }
}
@media screen and (max-width: 580px) {
     .pricing-table .cta-button {
        display:block;
        margin-top: 2rem;
        text-align: center;
        list-style: none;
    }
    .button-row .button-table .cta-button {
        display: none;
    }
    .selected {
        text-decoration:none;
        font-size: 2rem;
    }
    #about-title, #contact-title {
        transition: font-size 0.2s ease-in-out;
    }
    .about-row .intro-text {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 1rem;
    }
    .about-row .intro-text p {
        margin-top: 1rem;
    }
    .intro-text .portrait{
        display: block;
        width: 80%;
        position: relative;
        left: 2.8rem;
    }
}
@media screen and (max-width: 600px) {
    .pricing-table .cta-button {
        display:block;
        margin-top: 2rem;
        text-align: center;
        list-style: none;
    }
    .button-row .button-table .cta-button {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .top-bar {
        position: fixed;
        width: 100%;
        z-index: 12;
    }
    footer .brand-logo {
        display: none !important;
    }
    footer .menu.simple {
        display: none;
    }
    footer div:nth-child(2), #social-media-icons {
        width: 100%;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }
    .top-bar {
        position: fixed;
        width: 100%;
        z-index: 12;
    }
    .top-bar .top-bar-left {
        width: 34% !important;
    }
    .top-bar .top-bar-right {
        width: 60% !important;
    }
    .about-row {
         background: none !important;
    }
    .about-row .intro-text {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 1rem;
    }
    #about-intro-container > div:nth-child(1) {
        display: none;
    }
    .intro-text .portrait{
        display: block;
        width: 80%;
        position: relative;
        left: 2.8rem;
    }
} 
@media screen and (max-width: 1000px) {
    .about-row {
         background: none !important;
    }
    #about-intro-container > div:nth-child(1) img {
        width: 72%;
        position: relative;
        left: 4.2rem;
    }
    .about-row .intro-text p {
        margin-top: 1rem;
    }
    .menu.simple li {
        margin-right: 0.8rem
    }
}
@media screen and (max-width: 1024px) {
    .about-row {
     background: no-repeat center/100% url('../img/about-bg-1.png');
    }
    footer .menu.simple {
        font-size: 90% !important;
    }
    footer .bottom-bar {
        font-size: 90% !important;
    }
    footer .bottom-bar, #social-media-icons {
        position: relative;
        bottom: 0.6rem;
    }
}
/* MOBILE SETTINGS END */