#search-drawer {
    box-sizing: border-box;
    color: #f0f8ff;
    font-size: 16px;
    height: 29px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 8px;
    transition: .2s cubic-bezier(.4,0,.2,1);
    width: 0;
}
#search-drawer.show {
    width: 78%;
}
@media screen and (max-width: 390px) {
    #search-drawer.show {
    width: 116%;
    }
}
@media screen and (max-width: 789px) {
    #search-button.show {
    right: 48% !important;
    }
}
#search-button {
    color: #f0f8ff;
    right: 12px;  
    position: absolute;
    float: left;
    background: 0;
    cursor: pointer;
    transition: right 0.2s ease-in-out;
}
#search-button.show {
    right: 46%;
}
#srch-close-btn {
    color: #f0f8ff;
    right: 8px;
    position: absolute;
    float: right;
    display: none;
    background: 0;
    cursor: pointer;
}
#srch-close-btn.show {
    display: block;
}
input.search-input {
    border: 0;
    outline: 0;
    background: 0;
    box-shadow: none;
    padding: 0;
    border-bottom: 2px solid #f0f8ff;
    width: 100%;
    color: #f0f8ff;
}
input.search-input:focus {
    border: 0;
    outline: 0;
    background: 0;
    box-shadow: none;
    padding: 0;
    border-bottom: 2px solid #f0f8ff;
    width: 100%;
    color: #f0f8ff;
}

#search-bar {
  width: 0;
  position: absolute;
  right: 12px;
  transition: width 0.2s ease-in-out;
}
#search-bar.show {
    width: 45%;
    max-width: 100% !important;
}
.gsc-search-box.gsc-search-box-tools {
    display: none;
}
.gsc-option, .gsc-selected-option {
    color: #444;
}